In [1]:
## Importing Libraries

import selenium
from selenium import webdriver
import pandas as pd
import numpy as np
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [13]:
driver= webdriver.Chrome(r"C:\Users\Rajeev\Downloads\chromedriver_win32\chromedriver.exe")

### Scraping Data From Amazon

#### Laptop

In [39]:
#Getting the website to driver
driver.get('https://www.amazon.in/')

In [40]:
#Searching laptops in the search bar and clicking the search button
search_bar=driver.find_element_by_id('twotabsearchtextbox')
search_bar.send_keys("laptops")

driver.find_element_by_id('nav-search-submit-button').click()

In [41]:
#Creating empty lists
Product_URL=[]
Ratings=[]
Review=[]

#Getting URLs of the product
for i in range(1,4):
    URL = driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']/a")
    for i in URL:
        Product_URL.append(i.get_attribute('href'))
    try:
        next_btn=driver.find_element_by_xpath("//li[@class='a-last']/a").click()
    except NoSuchElementException:
        pass

In [43]:
for i in Product_URL:
    driver.get(i)
    time.sleep(5)
    
    #Clicking the rating
    try:
        driver.find_element_by_id("acrCustomerReviewText").click()
    except NoSuchElementException:
        pass
    
    #Clicking to see all reviews
    try:
        driver.find_element_by_xpath("//a[@class='a-link-emphasis a-text-bold']").click()
    except NoSuchElementException:
        pass
    
    #Scrapping the details
    Start_page=1
    End_page=80
    for page in range(Start_page,End_page+1):
        try:
            reviews=driver.find_elements_by_xpath("//div[@class='a-row a-spacing-small review-data']/span/span")
            for r in reviews:
                Review.append(r.text.replace('\n',''))
        except NoSuchElementException:
            Review.append("Not Available")
        try:
            rating=driver.find_elements_by_xpath("//div[@class='a-section celwidget']/div[2]/a[1]")
            for i in rating:
                ratings=i.get_attribute('title')
                Ratings.append(ratings[:3])
        except NoSuchElementException:
            Ratings.append("Not available")      
            
        
        #Looping for going to next page automatically
        try:
            next_page=driver.find_element_by_xpath("//div[@id='cm_cr-pagination_bar']/ul/li[2]/a")
            if next_page.text=='Next Page':
                next_page.click()
                time.sleep(2)
        except NoSuchElementException:
            pass

In [46]:
len(Review)

16000

In [48]:
df=pd.DataFrame()
df["Ratings"]=Ratings[:1600]
df["Reviews"]=Review[:1600]
df.head()

  Ratings                                            Reviews
0     1.0  Laptop getting hang very much and very much sl...
1     3.0   The package i has received was well protected...
2     3.0  It looks the screen size is small . Its not lo...
3     1.0  HiThis is a true feedback, requesting you to n...
4     3.0  How to install a new SSD? The SSD does not sho...

#### HeadPhones

In [3]:
#Getting the website to driver
driver.get('https://www.amazon.in/')

In [4]:
#Searching headphones in the search bar and clicking the search button
search_bar=driver.find_element_by_id('twotabsearchtextbox')
search_bar.send_keys("headphones")

driver.find_element_by_id('nav-search-submit-button').click()

In [7]:
#Creating empty lists
Product_URL=[]
Ratings=[]
Review=[]

#Getting URLs of the product
for i in range(1,4):
    URL = driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']/a")
    for i in URL:
        Product_URL.append(i.get_attribute('href'))
    try:
        next_btn=driver.find_element_by_xpath("//li[@class='a-last']/a").click()
    except NoSuchElementException:
        pass

In [9]:
for i in Product_URL:
    driver.get(i)
    time.sleep(5)
    
    #Clicking the rating
    try:
        driver.find_element_by_id("acrCustomerReviewText").click()
    except NoSuchElementException:
        pass
    
    #Clicking to see all reviews
    try:
        driver.find_element_by_xpath("//a[@class='a-link-emphasis a-text-bold']").click()
    except NoSuchElementException:
        pass
    
    #Scrapping the details
    Start_page=1
    End_page=80
    for page in range(Start_page,End_page+1):
        try:
            reviews=driver.find_elements_by_xpath("//div[@class='a-row a-spacing-small review-data']/span/span")
            for r in reviews:
                Review.append(r.text.replace('\n',''))
        except NoSuchElementException:
            Review.append("Not Available")
        try:
            rating=driver.find_elements_by_xpath("//div[@class='a-section celwidget']/div[2]/a[1]")
            for i in rating:
                ratings=i.get_attribute('title')
                Ratings.append(ratings[:3])
        except NoSuchElementException:
            Ratings.append("Not available")      
            
        
        #Looping for going to next page automatically
        try:
            next_page=driver.find_element_by_xpath("//div[@id='cm_cr-pagination_bar']/ul/li[2]/a")
            if next_page.text=='Next Page':
                next_page.click()
                time.sleep(2)
        except NoSuchElementException:
            pass

In [12]:
len(Review)

15680

In [13]:
df1=pd.DataFrame()
df1["Ratings"]=Ratings[:15360]
df1["Reviews"]=Review[:15360]
df1.head()

  Ratings                                            Reviews
0     5.0  It is my first planner and open back head phon...
1     5.0  My introduction to planar headphones. Great fe...
2     5.0  Sensitivity: 93.5dB" required amp, don't buy i...
3     5.0  Looks better than most Planar headphones and s...
4     5.0  I bought these because I did not feel I was ge...

#### Camera

In [16]:
#Getting the website to driver
driver.get('https://www.amazon.in/')

In [17]:
#Searching laptops in the search bar and clicking the search button
search_bar=driver.find_element_by_id('twotabsearchtextbox')
search_bar.send_keys("dslr")

driver.find_element_by_id('nav-search-submit-button').click()

In [18]:
#Creating empty lists
Product_URL=[]
Ratings=[]
Review=[]

#Getting URLs of the product
for i in range(1,4):
    URL = driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']/a")
    for i in URL:
        Product_URL.append(i.get_attribute('href'))
    try:
        next_btn=driver.find_element_by_xpath("//li[@class='a-last']/a").click()
    except NoSuchElementException:
        pass

In [20]:
for i in Product_URL:
    driver.get(i)
    time.sleep(5)
    
    #Clicking the rating
    try:
        driver.find_element_by_id("acrCustomerReviewText").click()
    except NoSuchElementException:
        pass
    
    #Clicking to see all reviews
    try:
        driver.find_element_by_xpath("//a[@class='a-link-emphasis a-text-bold']").click()
    except NoSuchElementException:
        pass
    
    #Scrapping the details
    Start_page=1
    End_page=80
    for page in range(Start_page,End_page+1):
        try:
            reviews=driver.find_elements_by_xpath("//div[@class='a-row a-spacing-small review-data']/span/span")
            for r in reviews:
                Review.append(r.text.replace('\n',''))
        except NoSuchElementException:
            Review.append("Not Available")
        try:
            rating=driver.find_elements_by_xpath("//div[@class='a-section celwidget']/div[2]/a[1]")
            for i in rating:
                ratings=i.get_attribute('title')
                Ratings.append(ratings[:3])
        except NoSuchElementException:
            Ratings.append("Not available")      
            
        
        #Looping for going to next page automatically
        try:
            next_page=driver.find_element_by_xpath("//div[@id='cm_cr-pagination_bar']/ul/li[2]/a")
            if next_page.text=='Next Page':
                next_page.click()
                time.sleep(2)
        except NoSuchElementException:
            pass

In [21]:
len(Review)

17440

In [23]:
len(Ratings)

14080

In [24]:
df2=pd.DataFrame()
df2["Ratings"]=Ratings[:14080]
df2["Reviews"]=Review[:14080]
df2.head()

  Ratings                                            Reviews
0     2.0  Ok the DSLR Giant Canon have launched 1 more e...
1     5.0                         Good camera for beginners.
2     5.0  Great camera. Perfect product for young buddin...
3     5.0  Really impressed with Amazon surprise for deli...
4     1.0  You are on your own if you buy this product be...

#### Phones

In [14]:
#Getting the website to driver
driver.get('https://www.amazon.in/')

In [15]:
#Searching laptops in the search bar and clicking the search button
search_bar=driver.find_element_by_id('twotabsearchtextbox')
search_bar.send_keys("Phone")

driver.find_element_by_id('nav-search-submit-button').click()

In [16]:
#Creating empty lists
Product_URL=[]
Ratings=[]
Review=[]

#Getting URLs of the product
for i in range(1,4):
    URL = driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']/a")
    for i in URL:
        Product_URL.append(i.get_attribute('href'))
    try:
        next_btn=driver.find_element_by_xpath("//li[@class='a-last']/a").click()
    except NoSuchElementException:
        pass

In [18]:
for i in Product_URL:
    driver.get(i)
    time.sleep(5)
    
    #Clicking the rating
    try:
        driver.find_element_by_id("acrCustomerReviewText").click()
    except NoSuchElementException:
        pass
    
    #Clicking to see all reviews
    try:
        driver.find_element_by_xpath("//a[@class='a-link-emphasis a-text-bold']").click()
    except NoSuchElementException:
        pass
    
    #Scrapping the details
    Start_page=1
    End_page=80
    for page in range(Start_page,End_page+1):
        try:
            reviews=driver.find_elements_by_xpath("//div[@class='a-row a-spacing-small review-data']/span/span")
            for r in reviews:
                Review.append(r.text.replace('\n',''))
        except NoSuchElementException:
            Review.append("Not Available")
        try:
            rating=driver.find_elements_by_xpath("//div[@class='a-section celwidget']/div[2]/a[1]")
            for i in rating:
                ratings=i.get_attribute('title')
                Ratings.append(ratings[:3])
        except NoSuchElementException:
            Ratings.append("Not available")      
            
        
        #Looping for going to next page automatically
        try:
            next_page=driver.find_element_by_xpath("//div[@id='cm_cr-pagination_bar']/ul/li[2]/a")
            if next_page.text=='Next Page':
                next_page.click()
                time.sleep(2)
        except NoSuchElementException:
            pass

In [19]:
len(Review)

23360

In [20]:
len(Ratings)

22880

In [22]:
df3=pd.DataFrame()
df3["Ratings"]=Ratings[:22880]
df3["Reviews"]=Review[:22880]
df3.head()

  Ratings                                            Reviews
0     1.0  Very disappointed with the overall performance...
1     4.0  Got the mobile on the launch date,Battery must...
2     3.0                              Camera quality is low
3     1.0  1. It doesn't work with 5.0GHz WiFi frequency....
4     1.0  Not worth buying....faulty software, poor disp...

In [24]:
driver.close()

### Scraping data from flipkart

#### Laptop

In [2]:
driver= webdriver.Chrome(r"C:\Users\Rajeev\Downloads\chromedriver_win32\chromedriver.exe")

In [3]:
#Getting the website to driver
driver.get('https://www.flipkart.com/search?q=laptop&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off')

In [17]:
#Creating empty lists
Product_URL=[]
Ratings=[]
Review=[]

#Getting URLs of the product
for i in range(1,4):
    URL = driver.find_elements_by_xpath("//a[@class='_1fQZEK']")
    try:
        for i in URL:
            Product_URL.append(i.get_attribute('href'))
    except:
        pass
    try:
        driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
    except:
        driver.find_element_by_xpath("//div[@class='_2MImiq']/nav/a[12]").click()

In [21]:
for i in Product_URL:
    driver.get(i)
    time.sleep(5)
    try:
        reviews=driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div")
        for r in reviews:
            Review.append(r.text.replace('\n',''))
    except NoSuchElementException:
        Review.append("Not Available")
    try:
        rating=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
        for i in rating:
            Ratings.append(i.text)
    except NoSuchElementException:
        Ratings.append("Not available")

In [22]:
len(Review)

508

In [23]:
len(Ratings)

476

In [24]:
df4=pd.DataFrame()
df4["Ratings"]=Ratings[:476]
df4["Reviews"]=Review[:476]
df4.head()

  Ratings                                            Reviews
0       5  The laptop is AMAZING!Performance: Performance...
1       4  Laptop looks sturdy. Good performance as well....
2       4  I got it for a price of rs. 41990 in the BBD s...
3
4

#### HeadPhones

In [26]:
#Getting the website to driver
driver.get('https://www.flipkart.com/search?q=headphones&sid=0pm%2Cfcn&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_4_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_4_na_na_na&as-pos=1&as-type=RECENT&suggestionId=headphones%7CHeadphones+%26+Earphones&requestId=62cb5475-fb4a-405f-b792-68070bda4dbc&as-searchtext=head')

In [29]:
#Creating empty lists
Product_URL=[]
Ratings=[]
Review=[]

#Getting URLs of the product
for i in range(1,4):
    URL = driver.find_elements_by_xpath("//a[@class='s1Q9rs']")
    try:
        for i in URL:
            Product_URL.append(i.get_attribute('href'))
    except:
        pass
    try:
        driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
    except:
        driver.find_element_by_xpath("//div[@class='_2MImiq']/nav/a[12]").click()

In [31]:
for i in Product_URL:
    driver.get(i)
    time.sleep(5)
    try:
        reviews=driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div")
        for r in reviews:
            Review.append(r.text.replace('\n',''))
    except NoSuchElementException:
        Review.append("Not Available")
    try:
        rating=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
        for i in rating:
            Ratings.append(i.text)
    except NoSuchElementException:
        Ratings.append("Not available")

In [32]:
len(Review)

482

In [33]:
len(Ratings)

437

In [34]:
df4=pd.DataFrame()
df4["Ratings"]=Ratings[:437]
df4["Reviews"]=Review[:437]
df4.head()

  Ratings                                            Reviews
0       5  My review after 4 monthsSound Quality,Build qu...
1       4  Bought it for 799 from flipkart.Pros :1 small ...
2       5  Best Sound Quality. BASS is balanced. Slightly...
3
4

#### Camera

In [36]:
#Getting the website to driver
driver.get('https://www.flipkart.com/search?q=dslr&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off')

In [37]:
#Creating empty lists
Product_URL=[]
Ratings=[]
Review=[]

#Getting URLs of the product
for i in range(1,4):
    URL = driver.find_elements_by_xpath("//a[@class='_1fQZEK']")
    try:
        for i in URL:
            Product_URL.append(i.get_attribute('href'))
    except:
        pass
    try:
        driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
    except:
        driver.find_element_by_xpath("//div[@class='_2MImiq']/nav/a[12]").click()

In [39]:
for i in Product_URL:
    driver.get(i)
    time.sleep(5)
    try:
        reviews=driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div")
        for r in reviews:
            Review.append(r.text.replace('\n',''))
    except NoSuchElementException:
        Review.append("Not Available")
    try:
        rating=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
        for i in rating:
            Ratings.append(i.text)
    except NoSuchElementException:
        Ratings.append("Not available")

In [40]:
len(Review)

181

In [41]:
len(Ratings)

181

In [42]:
df6=pd.DataFrame()
df6["Ratings"]=Ratings
df6["Reviews"]=Review
df6.head()

  Ratings                                            Reviews
0       5  It's a nice budget entry level mirrorless came...
1       4  For a beginner, this Camera seems to be the be...
2       5  it's a awesome camera loved it.really underrat...
3
4

#### Phone

In [49]:
#Getting the website to driver
driver.get('https://www.flipkart.com/search?q=phone&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off')

In [50]:
#Creating empty lists
Product_URL=[]
Ratings=[]
Review=[]

#Getting URLs of the product
for i in range(1,4):
    URL = driver.find_elements_by_xpath("//a[@class='_1fQZEK']")
    try:
        for i in URL:
            Product_URL.append(i.get_attribute('href'))
    except:
        pass
    try:
        driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
    except:
        driver.find_element_by_xpath("//div[@class='_2MImiq']/nav/a[12]").click()

In [52]:
for i in Product_URL:
    driver.get(i)
    time.sleep(5)
    try:
        reviews=driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div")
        for r in reviews:
            Review.append(r.text.replace('\n',''))
    except NoSuchElementException:
        Review.append("Not Available")
    try:
        rating=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
        for i in rating:
            Ratings.append(i.text)
    except NoSuchElementException:
        Ratings.append("Not available")

In [53]:
len(Review)

550

In [54]:
len(Ratings)

511

In [55]:
df7=pd.DataFrame()
df7["Ratings"]=Ratings[:511]
df7["Reviews"]=Review[:511]
df7.head()

  Ratings                                            Reviews
0       5  Great Phone at this Price point. Superb cool D...
1       4  Good mobile poco m3Pros:Fullhd display,smooth ...
2       5  Good phone battery🔋 And camera This price poin...
3
4

In [57]:
driver.close()

Combining all data frames to one

In [58]:
data_ratings=pd.DataFrame()

In [62]:
data_ratings=df.append([df1,df2,df3,df4,df5,df6,df7],ignore_index=True)
data_ratings.head()

   Unnamed: 0  Ratings                                            Reviews
0           0      1.0  Laptop getting hang very much and very much sl...
1           1      3.0   The package i has received was well protected...
2           2      3.0  It looks the screen size is small . Its not lo...
3           3      1.0  HiThis is a true feedback, requesting you to n...
4           4      3.0  How to install a new SSD? The SSD does not sho...

In [64]:
data_ratings.dropna(inplace=True)

In [67]:
## Saving ito a csv file
data_ratings.to_csv("Ratings_Data.csv")